<div class="aem-module-reloaded">
    {{> aem-module-reloaded/partials/styles}}
    {{> aem-module-reloaded/partials/scripts}}

    <div class="aem-module-reloaded__headline">{{ headline }}</div>
    <img src="./resources/img/demo.jpg">
</div>